body {
    background-color: #75664a;
    color: white;
    font-family: "Limelight", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #9e8c6a;
    color: white;
    font-family: "Limelight", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
    max-width: 95%;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}